:begin
{{- range .NodeList }}
MERGE (node:{{ .Kind }} {UID: "{{ .UID }}"}) ON CREATE SET node.Name = "{{ .Name }}"
{{- if .ClusterName }}, node.ClusterName = "{{ .ClusterName }}"{{ end -}}
{{- if .Namespace }}, node.Namespace = "{{ .Namespace }}"{{ end -}}
{{- range $key, $value := .Annotations }}, node.Annotation_{{ underscore $key }} = {{ json $value }}{{ end -}}
{{- range $key, $value := .Labels }}, node.Label_{{ underscore $key }} = {{ json $value }}{{ end -}};
{{- end }}
:commit

call db.awaitIndexes();

:begin
{{- range .RelationshipList }}
MATCH (from:{{ (index $.Nodes .From).Kind }}), (to:{{ (index $.Nodes .To).Kind }}) WHERE from.UID = "{{ .From }}" AND to.UID = "{{ .To }}" MERGE (from)-[:{{ .Label }}]->(to);
{{- end }}
:commit
