digraph {
    graph [rankdir="LR" bgcolor="#F6F6F6"];
    node [shape="record" color="#D3D3D3" style="filled" fillcolor="#FFFFFF"];
    edge [color="#4284F3"];
    compound=true;
{{ range $cluster, $namespaces := .Nodes }}
    // create cluster
    subgraph "cluster_{{ $cluster }}" {
        label="{{ $cluster }}";
        bgcolor="#ECEFF1";

    {{- range $namespace, $node := $namespaces }}
      {{ if $namespace }}
        // create namespace
        subgraph "cluster_namespace_{{ $namespace }}" {
          label="{{ $namespace }}";
          bgcolor="#E3F2FD";

          "{{ $namespace }}" [label="Namespace\l | { {{ $namespace }}\l }" shape="point" style="invis"]
          {{- range . }}
          "{{ .UID }}" [label="{{ .Kind }}\l | { {{ .Name }}\l }"];
          {{- end }}
        }
      {{- else }}
        // create nodes
        {{- range . }}
        "{{ .UID }}" [label="{{ .Kind }}\l | { {{ .Name }}\l }"];
        {{- end }}
      {{- end }}
    {{- end }}
    }
{{- end }}

    // create relationships
{{- range .Relationships }}
  {{- range . }}
    "{{ .From.UID }}" -> "{{ .To.UID }}"{{ if .Attr }} [{{ .Attr }}]{{ end }};
  {{- end }}
{{- end }}
}
