name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: macos-11
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Read Go version
      id: go-version
      run: |
        echo "::set-output name=content::$(cat .go-version)"

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        # TODO: Replace with go-version-from-file when it is supported
        # https://github.com/actions/setup-go/pull/62
        go-version: ${{ steps.go-version.outputs.content }}

    - name: Build Snapshot
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: build --snapshot --rm-dist
