name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: macos-11
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Read go.mod
      id: go-mod
      run: |
        echo "::set-output name=version::$(go mod edit -json | jq -r .Go)"

    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ steps.go-mod.outputs.version }}

    - name: Build Snapshot
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: build --snapshot --rm-dist
