name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    runs-on: macos-11
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Read go.mod
      id: go-mod
      run: |
        echo "::set-output name=version::$(go mod edit -json | jq -r .Go)"

    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ steps.go-mod.outputs.version }}

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    needs: release
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Update new version in krew-index
      if: success() && !contains(github.ref, '-')
      uses: rajatjindal/krew-release-bot@v0.0.43
      with:
        krew_template_file: .krew.yml
