name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    runs-on: macos-11
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v5
      with:
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    runs-on: ubuntu-latest
    needs: release
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Update new version in krew-index
      if: ${{ success() && !contains(github.ref, '-') }}
      uses: rajatjindal/krew-release-bot@v0.0.46
      with:
        krew_template_file: .krew.yml
